body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    position: relative;
}
/* header */
.header
{
    background: linear-gradient(0deg, #270E1E, #270E1E), #202127;
    display: flex;
    padding: 15px 140px 15px 140px;
    /* justify-content: space-around; */
}
.logo-img
{
    width: 160px;
    height: 30px;
}
.input-field
{
    padding-left: 250px;
    padding: auto ;
    display: flex;
}
.login
{
  text-decoration: none;
  color: white;
  font-size: small;
  padding-left: 145px;
  padding-right: 15px;

}
.sec1-login-div{
  padding-top: 8px;
}
.head-input{
    height: 25px;
    width: 150px;             
    background-color: #FFFFFF;
    border-radius: 4px;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    transition:width 2s;
    margin-top: 5px;
}
.head-search{
    border: none;
    width: 110px;
    height: 10px;
    font-size: x-small;
    color: black;
    outline: transparent;
    align-items: center;
}
.head-logo{
    width: 12px;
    align-items: center;
    padding-left: 10px;
    padding-right: 5px;
}
.head-input:hover
{
    width: 350px;
}


/* Section 1 */

.sec1
{
    margin: 0;
   background: #270E1E;
   color: #FFFFFF;
   text-align: center;
   padding-top: 40px;
   border-top:1px solid grey ;
   background-image: url(img/Art.svg);
   background-repeat: no-repeat;
   background-size: 50%;
   background-position: center bottom;
   height: 620px;
}
.heading{
    font-weight: 700;
    line-height: 110%;
    font-size: 42px;
    padding-top: 0px;
}
.b1 
{
    padding: 11px 25px;
    background-color:  #270E1E;
    color: white;
    border-radius: 5px;
    border: 1px solid white;
    cursor: pointer;
    transition: 0.5s;
}
.b1:hover{
    transform: scale(1.1);
    box-shadow: 3px 3px 10px rgb(133, 77, 112);
}
.b2
{
    padding: 12px 25px;
    background: #B35291;
    color: white;
    border-radius: 5px;
    border: none;
    margin-left: 10px;
    cursor: pointer;
    transition: 0.5s;

}
.b2:hover{
    transform: scale(1.1);
    box-shadow: 3px 3px 10px rgb(133, 77, 112);
}
.para
{
    color: #CFD2DC;
    font-size: 12px;
    padding-top: 25px;
}


/* Section 2 */

.sec2
{
    background: #451E37;
    text-align: center;
    color: white;
    padding-top: 45px;
 

}
.sec2-h1
{
    line-height: 12px;
    font-weight: 700;
    font-size: 40px;
}
.all-icons
{
    display: flex;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    
}

.icon1{
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    padding: 40px 70px;
}
.icon2
{
    padding: 40px 70px;
}
.icon3{
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    padding: 40px 70px;
}

.topic{ 
   margin: 0;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    color: #F1F2F2;
}
.detail
{
    font-size: 10px;
    line-height:15px;
    width: 170px;
    color: #F1F2F2;
}


/* section 3 */
.sec3{
display: flex;
justify-content: center;
align-items: center;
border-bottom: 1px solid grey;
}
.main-div
{
display: flex;
padding: 80px 100px;

}

.content{
    text-align: left;
    margin-right: 100px;
}
.sec3-h1{
    color: #202127;
    width: 400px;
    height: 80px;
    font-size:35px;
}
.sec3-para
{
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: #5C606B;
    width: 350px;
    max-height: 350px;
}
.sec3-img
{
    width: 300px;
    height: 380px;
    margin-top: 20px;
}
#img-div{
 background-image: url(img/sec3\ background.png);
background-repeat: no-repeat;
background-size: 120%;
background-position:top;

}
.host{
    background: #B35291;
    border-radius: 6px;
    color: white;
    border: none;
    width: 120px;
    height: 40px;
    margin-top: 10px;
    cursor: pointer;
    transition: 1s;
}
.host:hover{
    transform: translate(7px,7px );
    box-shadow: 5px 5px 20px  grey;

}


/* section 4 */

.sec4{
    border-bottom: 1px solid grey;
}
.sec4 >div{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;   
}
.sec4-head{
    text-align: center; 
    margin-top: 40px; 
   
}
.sec4-h{
    width: 400px;
    height: 70px;
    font-size:34px;
    color: #202127;
}
.sec4-p
{
    color: #5C606B;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    width: 650px;
    height: 80px;
    margin-top: 0;
 
}
.sec4-imgs
{
    margin:40px 0px 100px 0;
}
#sec4-img1
{
    width: 700px;
}
#sec4-img2
{
    width: 800px;
    margin-top: 0;
    margin-bottom: 0px;

}

.table-heading
{
    color: #41434A;
    width: 600px;
    font-size: 20px;
    text-align: center;
}
.sec4-li{
    color: #5C606B;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    width: 450px;
    border-collapse: collapse;
}
.sec4-ul{
    
    margin-left: 50px;
    margin-top: 0px;
    margin-bottom: 10px;
}
.sec4-th{
    color: #202127;
    text-align: left;
    font-weight: 400;
    font-size: 15px;
    line-height: 10px
}
.sec4-table{
    margin-left: 70px;
    margin-bottom: 70px;
    margin-top: 30px;
}



/* section 5 */

.sec5{
display: flex;
flex-direction: row;
margin: 80px 0px 0px 200px;

}
.sec5-h{
    margin-top: 60px;
    width: 400px;
    height: 100px;
    color: #202127;
    font-size: 29px;
}
.sec5-p
{
    width: 380px;
    height: 87px;
    color: #5C606B;
    font-size:13px;
    line-height: 25px;
}

.sec5-btn
{
height: 40px;
width: 150px;
color: #41434A;
background-color: white;
border:0.5px solid #41434A;
border-radius: 5px;
cursor: pointer;
}
.sec5-btn:hover{
  box-shadow: -3px 3px 6px #656870 ;
}

.sec5-img
{
    width: 563px;
    padding-left: 100px;
    height: 500px;

}


/* Section 6 */

.sec6{

    padding-top: 80px;
    padding-left: 200px;
    background: #FAFBFC;
   display: flex;
 
}
.sec6-h
{
    width: 200px;
    color: #202127;
    margin-bottom: 0;
}
.sec6-p1
{
    width: 400px;
    font-size: 13px;
    color: #202127;
    line-height: 23px;
}
.sec6-logo{
    width: 35px;
    padding-right: 20px;
}
.sec6-div{
    display: flex;
    color: #B35291;
    padding-top: 10px;
    font-size: 13px;
}
.sec6-para
{
    width: 400px;
    height: 60px;
    font-size: 12px;
    line-height: 22px;
    padding-bottom: 30px;
}
.sec6-background
{
    padding-left: 150px;
    width: 500px;
    height: 750px;
}

/* section 7 */

.sec7{
   background-color:#270E1E;
   padding-left: 200px;
   padding-top: 70px;
   padding-bottom: 100px;
   text-align: center;
   border-bottom: 1px solid grey;

}
.sec7-top{
    width:440px;
    text-align: left;
    color: #FFFFFF;
}
.sec7-p{
    font-size: 12px;
    line-height: 24px;
    font-weight: 50;
}

.sec7-cards
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 30px;
    /* background-color: blue; */
    justify-content: space-between;
    margin-right: 180px;
}
.card1-div{
    width: 250px;
    height: 220px;
    background-color: #FFFFFF;
    padding-left: 10px;
}
.card1{
    text-align: left;
    margin: 20px;
    padding-bottom: 0px;
    /* background-color: pink; */
}

.card1-icon
{

   width: 80px;
   /* border: 1px solid blue; */
   margin-left: -20px;

}
.aero{
 
    margin-top: 15px;
    float: right;
    margin-right: 10px;
    /* border: 1px solid black; */
}
.card1-h
{
    color: #202127;
    font-size: 17px;
    /* border: 1px solid black; */
    margin-top: 0;
}
.card1-p
{
    color: #41434A;
    font-size: 13px;
    line-height: 18px;
    /* border: 1px solid green; */

}

  


/* Section 8 */

.sec8{
    background-color: #270E1E;
    padding-top: 80px ;
    display: flex;

}
.sec8-content{
    padding-left: 200px;
    width: 400px; 
    color: #FFFFFF;
}
.sec8-p
{
    color: #F1F2F2;
    line-height: 20px;
    font-size: 12px;
    word-spacing: 2px;
}
.sec8-input{
    height: 35px;
    width: 200px;
    background-color: #FFFFFF;
    border-radius: 3px;
    display: flex;
    cursor: pointer;
}
.input{
    border: none;
    width: 110px;
    height: 10px;
    font-size: x-small;
    color: black;
    margin-top: 10px;
    outline: transparent;
}
.sec8-logo{
    width: 10px;
    align-items: center;
    padding-left: 10px;
    padding-right: 5px;
}
.sec8-btn-input{
    display: flex;
    margin-top: 20px;
}
.sec8-btn
{
    height: 35px;
    width: 70px;
    background: linear-gradient(135deg, #FF92E2 0%, #932C6E 91.98%);
    border-radius: 2px;
    text-align: center;
    border: none;
    color: white;
    font-size: 10px;
    margin-left: 10px;
    cursor: pointer;
    transition: 0.5s;
}
.sec8-btn:active{
    transform: scale(0.95);
    box-shadow: 3px 3px 10px rgb(133, 77, 112);
}
.sec8-img-div
{
    margin: 0px;
    padding: 0px;
}
.sec8-img{

    size: 100px;
    width: 400px;
    height: 300px;

}


/* footer */



.footer{

    padding-top:40px;
    padding-bottom: 40px;
    border-top: 1px solid #d1dbdb;
    background-color: #191C1F;
    color:#CFD2DC;
    display: flex;

}
.logo-footer{
    height: 24px;
    width: 153px;  
    padding-left: 185px;
          
}
.footer-p{
    width: 170px;
    height: 63px;
    padding-left: 200px;
    padding-top: 10PX;
    font-size: 12px;
    line-height: 20px;
}

.footer-ul{
  
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.footer-li {
   
    padding-left: 140px;
    padding-bottom: 10px;

}
a{
    text-decoration: none;
    color: #CFD2DC;
    font-size: 11px;
} 

@media only screen and (max-width: 1100px) {
    body {
      display: none;
    }
  }