@import "var";
@import "mixin";

body{
    @include space;
    font-family:$fontfamily;
    @include width(100%,100%);
    overflow-x: hidden;

&::-webkit-scrollbar {
        display: none;
    }  
}


.body{
@include width(120%,100%);
position: relative;


.nav-bar{
    position: fixed;
    width: 82%;
    z-index: 1;

}
.main{
    overflow-y: scroll;
&::-webkit-scrollbar {
    display: none;
}}

footer{
    position: fixed;
    width: 100%;
    z-index: 2;
}    
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    background-color: $nav-foot;
    @include padding;

img{
    @include width(120px,65px); 
}
div{
    display: flex;
    flex-direction: row;

img{
    @include width(60px,35px);
    margin-top: 15px;
}


.login{
    @include login;                        //1
 
p{
    padding-top: 8px;
    color: $color;
    font-size: 13px;
    margin: 20px 0 10px;
}   
button{
@include button;                            //2
}}
}
}

//Main block
.main{
    background-color:$background-main;
    @include width(auto,auto);
    @include padding;
    @include top-bottom(100px,20px);
   

.row-1{
    @include width(80%,320px);
    background: $row1-back;
    border-radius: 10px;
    margin-bottom: 40px;


    
.row1-head{
    @include row1-head;                     //3
    @include width(100%,50px);


hr{
   @include hr; 
}    

h3{
   font-size: 16px;
   font-weight: 600;
   letter-spacing: 4px;
}
.left-img{
    width: 25px;
    padding: 5px 0 5px 20px;
}
.right-img{
    padding: 5px 20px 5px 0;width: 25px;
}}

.scroll-control{
    overflow-x: scroll;
    scrollbar-width: none;
   
}
.scroll-control::-webkit-scrollbar {
    display: none;
}
.content{
    @include width(112.5%,190px);
    margin: 40px 0 0 100px;
    display: flex;
    flex-direction: row;


.card1{
    color:$color;
    text-align: center;
    margin-right: 30px;

    .pokeymon{
        @include width(150px,160px);
        background: linear-gradient(135.58deg, #CECECE -1.03%, #E4E4E4 53.69%, #9F9F9F 100%);
        border-radius: 10px;
        position: relative;

   
.card-img{
        width: 150px;
        padding-top: 30px;

        }
.eye256{
     
    background-color: $row1-eye;
    @include eye;                          //4
    @include width(40px,18px);
 
img{
    width: 12px;
    padding: 0 2px 0 2px;
}
p{
    font-size: 10px;
}    
}        
    }   
.card-bottom{
        @include width(150px,20px);
        @include card-bottom;                           //5
    }}
}}


}

// footer
footer{
    @include width(100%,30px);
    @include footer;

p{
    font-size: 10px;
    font-weight: 100;
    color: #666666;

}    
}






