body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  display: none;
}

.body {
  width: 120%;
  height: 100%;
  position: relative;
}
.body .nav-bar {
  position: fixed;
  width: 82%;
  z-index: 1;
}
.body .main {
  overflow-y: scroll;
}
.body .main::-webkit-scrollbar {
  display: none;
}
.body footer {
  position: fixed;
  width: 100%;
  z-index: 2;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  background-color: #3A3A3A;
  padding: 0 120px;
}
.nav-bar img {
  width: 120px;
  height: 65px;
}
.nav-bar div {
  display: flex;
  flex-direction: row;
}
.nav-bar div img {
  width: 60px;
  height: 35px;
  margin-top: 15px;
}
.nav-bar div .login {
  display: flex;
  flex-direction: column;
  margin-bottom: -15px;
}
.nav-bar div .login p {
  padding-top: 8px;
  color: #FFFFFF;
  font-size: 13px;
  margin: 20px 0 10px;
}
.nav-bar div .login button {
  width: 80px;
  border-radius: 10px;
  border-color: transparent;
  background-color: #D3A341;
  color: #FFFFFF;
  letter-spacing: 2px;
}

.main {
  background-color: #252525;
  width: auto;
  height: auto;
  padding: 0 120px;
  padding: 100px;
  padding-bottom: 20px;
}
.main .row-1 {
  width: 80%;
  height: 320px;
  background: rgba(138, 196, 228, 0.3019607843);
  border-radius: 10px;
  margin-bottom: 40px;
}
.main .row-1 .row1-head {
  display: flex;
  align-items: center;
  background: linear-gradient(180deg, #A36F1A 0%, #593700 100%);
  color: #FFFFFF;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 50px;
}
.main .row-1 .row1-head hr {
  border: 0 0 -1px 0;
  border-bottom: -1px solid #FFFFFF;
  width: 300px;
  height: 0px;
}
.main .row-1 .row1-head h3 {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 4px;
}
.main .row-1 .row1-head .left-img {
  width: 25px;
  padding: 5px 0 5px 20px;
}
.main .row-1 .row1-head .right-img {
  padding: 5px 20px 5px 0;
  width: 25px;
}
.main .row-1 .scroll-control {
  overflow-x: scroll;
  scrollbar-width: none;
}
.main .row-1 .scroll-control::-webkit-scrollbar {
  display: none;
}
.main .row-1 .content {
  width: 112.5%;
  height: 190px;
  margin: 40px 0 0 100px;
  display: flex;
  flex-direction: row;
}
.main .row-1 .content .card1 {
  color: #FFFFFF;
  text-align: center;
  margin-right: 30px;
}
.main .row-1 .content .card1 .pokeymon {
  width: 150px;
  height: 160px;
  background: linear-gradient(135.58deg, #CECECE -1.03%, #E4E4E4 53.69%, #9F9F9F 100%);
  border-radius: 10px;
  position: relative;
}
.main .row-1 .content .card1 .pokeymon .card-img {
  width: 150px;
  padding-top: 30px;
}
.main .row-1 .content .card1 .pokeymon .eye256 {
  background-color: #8AC4E4;
  position: absolute;
  top: 20px;
  right: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  width: 40px;
  height: 18px;
}
.main .row-1 .content .card1 .pokeymon .eye256 img {
  width: 12px;
  padding: 0 2px 0 2px;
}
.main .row-1 .content .card1 .pokeymon .eye256 p {
  font-size: 10px;
}
.main .row-1 .content .card1 .card-bottom {
  width: 150px;
  height: 20px;
  font-size: 13px;
  padding-top: 8px;
  letter-spacing: 2px;
}

footer {
  width: 100%;
  height: 30px;
  background-color: #3A3A3A;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}
footer p {
  font-size: 10px;
  font-weight: 100;
  color: #666666;
}/*# sourceMappingURL=style.css.map */